<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../images/logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>igorMail - Inscrever-se</title>
  </head>
  <body>
    <div class="container">
      <img src="../../images/logo.png" alt="logo" class="logo" />

      <form action="/logar" method="post">
        <h1>INSCREVER-SE</h1>

        <label for="nome">Nome</label>
        <input
          type="text"
          name="nome"
          placeholder="Insira seu nome de usu치rio"
        />

        <label for="user">Nome de Usu치rio</label>
        <input
          type="text"
          name="user"
          placeholder="Insira seu nome de usu치rio"
        />

        <label for="email">E-mail</label>
        <input type="text" name="email" placeholder="Insira seu email" />

        <label for="password">Senha</label>
        <input type="password" name="password" placeholder="Insira sua Senha" />

        <label for="password-confirm">Senha</label>
        <input
          type="password"
          name="password-confirm"
          placeholder="Confirme sua senha"
        />

        <button type="submit">Cadastrar</button>
        <a href="/autenticar">J치 tenho cadastro :)</a>
      </form>
    </div>

    <script src="scripts.js"></script>
  </body>
</html>
